<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Version1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Add</display-name>
    <servlet-name>Add</servlet-name>
    <servlet-class>com.gym.servlets.Add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add</servlet-name>
    <url-pattern>/Add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.gym.servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubChange</display-name>
    <servlet-name>SubChange</servlet-name>
    <servlet-class>com.gym.servlets.SubChange</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubChange</servlet-name>
    <url-pattern>/SubChange</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelMembr</display-name>
    <servlet-name>DelMembr</servlet-name>
    <servlet-class>com.gym.servlets.DelMembr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelMembr</servlet-name>
    <url-pattern>/DelMembr</url-pattern>
  </servlet-mapping>
</web-app>